@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

table {
    border-collapse: collapse;
    /* margin: 20px 10px 20px 10px; */
}

th {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #0088A9;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

th, td {
    border-bottom: 1px solid #edf0f1;
    padding: 5px 10px 5px 10px;
}

td {
    text-align: center;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    border-right: 1px solid #edf0f1;;
}

td:first-child {
    border-left: 1px solid #edf0f1;
}

.table h1,
.table a {
    padding: 10px 0px 10px 0px;
    font-size: 12px;
}

.table a:hover,
.container p a {
    color: #0088A9;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    margin: 10px;
}

.table {
    grid-row: 1;
    grid-column: 1/5;
}

.aws-logo {
    grid-row: 2;
    grid-column: 1;
}

.azure-logo {
    grid-row: 2;
    grid-column: 2;
}

.gcp-logo {
    grid-row: 2;
    grid-column: 3;
}

.ibm-logo {
    grid-row: 2;
    grid-column: 4;
}


.aws {
    grid-row: 3;
    grid-column: 1;
}

.azure {
    grid-row: 3;
    grid-column: 2;
}

.gcp {
    grid-row: 3;
    grid-column: 3;
}

.ibm {
    grid-row: 3;
    grid-column: 4;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 90%;
    object-fit: contain;
}

.container,
.container p {
    padding-top: 10px;
}
